<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>orderCancelFailure</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }
        .container {
            max-width: 600px;
            margin-top: 100px;
        }
        .alert {
            font-size: 18px;
            text-align: center;
        }
        .btn {
            display: block;
            width: 100%;
            font-size: 18px;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- failure -->
    <div th:if="${errorMessage != null}" class="alert alert-danger" role="alert">
        <span>Order Cancel Failure：<span th:text="${errorMessage}"></span></span>
    </div>
    <a href="/orders" class="btn btn-primary mt-3">My Order</a>
</div>
<!-- 引入Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
